.main {
  padding: 30px;
}

.table {
  overflow: auto;
  height: 500px;
  display: block;
  border-collapse: collapse;
  border: 1px solid red;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  border: 1px solid black;
  padding: 1em;
  min-width: 100px;
}
.table > tbody > tr > th {
  background: #efefef;
  position: sticky;
  top: 0;
  left: 0;
}
.table > tbody > tr:nth-of-type(1) > th {
  border-top: none;
}
.table > tbody > tr > th:nth-of-type(1) {
  border-left: none;
}
.table > tbody > tr:nth-last-of-type(1) > th,
.table > tbody > tr:nth-last-of-type(1) > td {
  border-bottom: none;
}
.table > tbody > tr > th:nth-last-of-type(1),
.table > tbody > tr > td:nth-last-of-type(1) {
  border-right: none;
}

.selected {
  background: lightgreen;
}